{% extends 'base.html.twig' %}

{% block body %}
<section class="container" style="background-color: rgba(0, 0, 0, 0.3)">
  <section class="container mx-auto my-3 pt-3">

{# HEADER #}
    <section class="row mx-auto text-center">
      <section class="col">
	{{ "Day"|trans }}
	<input type="number" style="width: 50px" min="1" value="" />
      </section>

      <section class="col-6 h3">
	{{ "scoresheet"|trans }}
	{{ "league.name"|trans }}, {{ "season"|trans }} 1: {{ "Automne"|trans }} {{ "now"|date("Y")  }}
      </section>

      <section class="col">
	{{ "Weather"|trans }}
	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownWeather" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    {{ "Weather"|trans }}
	  </button>
	  <span class="dropdown-menu" aria-labelledby="dropdownWeather">
	    {% for w in weathers %}
	      <button class="dropdown-item" type="button">{{ w.name|trans }}</button>
	    {% endfor %}
	  </span>
	</div>
      </section>
    </section>

{# SCORE #}
    <section class="row mx-auto text-center my-3">
      <section class="col-4">
	<section class="row">
	  <div class="input-group">
	    <span class="input-group-addon" id="sizing-addon2">{{ "Team"|trans }}</span>
	    <input type="text" class="form-control" placeholder="Team" aria-label="Team" aria-describedby="sizing-addon2">
	  </div>
	</section>
	<section class="row">
	  <div class="input-group">
	    <span class="input-group-addon" id="sizing-addon2">{{ "Coatch"|trans }}</span>
	    <input type="text" class="form-control" placeholder="Coatch" aria-label="Coatch" aria-describedby="sizing-addon2">
	  </div>
	</section>
	<section class="row">
	  <div class="input-group">
	    <span class="input-group-addon" id="sizing-addon2">{{ "TeamValue"|trans }}</span>
	    <input type="text" class="form-control" placeholder="TeamValue" aria-label="TeamValue" aria-describedby="sizing-addon2">
	  </div>
	</section>
      </section>
      
      <section class="col h1">
        {{ "Score"|trans }}<br/>
	<span id="scoreA"></span> - <span id="scoreB"></span>
      </section>

      <section class="col-4">
	<section class="row">
	  <div class="input-group">
	    <span class="input-group-addon" id="sizing-addon2">{{ "Team"|trans }}</span>
	    <input type="text" class="form-control" placeholder="Team" aria-label="Team" aria-describedby="sizing-addon2">
	  </div>
	</section>
	<section class="row">
	  <div class="input-group">
	    <span class="input-group-addon" id="sizing-addon2">{{ "Coatch"|trans }}</span>
	    <input type="text" class="form-control" placeholder="Coatch" aria-label="Coatch" aria-describedby="sizing-addon2">
	  </div>
	</section>
	<section class="row">
	  <div class="input-group">
	    <span class="input-group-addon" id="sizing-addon2">{{ "TeamValue"|trans }}</span>
	    <input type="text" class="form-control" placeholder="TeamValue" aria-label="TeamValue" aria-describedby="sizing-addon2">
	  </div>
	</section>
      </section>
    </section>

{# SEQUENCE AVANT MATCH #}
    <section class="row bg-danger h4 my-2 py-2">
      <strong class="text-light mx-auto">{{ "PreMatch"|trans }}</strong>
    </section>
      
    <section class="row">
      <section class="col">
	<div class="input-group">
	  <span class="input-group-addon">{{ "Public"|trans }}:</span>
	  <input type="text" class="form-control" aria-label="">
	  <span class="input-group-addon">fans</span>
	</div>
	  
	<div class="input-group">
	  <span class="input-group-addon">{{ "FAME"|trans }}:</span>
	  <input type="number" min="0" max="2" class="form-control" aria-label="">
	</div>

	<div class="form-group">
	  <label for="coupsTeamA">{{ "CoupsPouce"|trans }} / {{ "Cost"|trans }}</label>
	  <textarea class="form-control" id="coupsTeamA" rows="3"></textarea>
	</div>
      </section>
      
      <section class="col">
	<div class="input-group">
	  <span class="input-group-addon">{{ "Public"|trans }}:</span>
	  <input type="text" class="form-control" aria-label="">
	  <span class="input-group-addon">fans</span>
	</div>
	  
	<div class="input-group">
	  <span class="input-group-addon">{{ "FAME"|trans }}:</span>
	  <input type="number" min="0" max="2" class="form-control" aria-label="">
	</div>

	<div class="form-group">
	  <label for="coupsTeamB">{{ "CoupsPouce"|trans }} / {{ "Cost"|trans }}</label>
	  <textarea class="form-control" id="coupsTeamB" rows="3"></textarea>
	</div>
      </section>
    </section>

{# LE MATCH #}
    <section class="row bg-danger h4 my-2 py-2">
      <strong class="text-light mx-auto">{{ "Match"|trans }}</strong>
    </section>

    <section class="row">
      <section class="col-5">
	<section class="row">
	  <section class="col">
	    {{ "Agressions"|trans }}!
	  </section>
	  <section class="col">
	    T: <input type="number" min="0" value="" style="width:50px" />
	  </section>
	  <section class="col">
	    R: <input type="number" min="0" value="" style="width:50px" />
	  </section>
	  <section class="col">
	    E: <input type="number" min="0" value="" style="width:50px" />
	  </section>
	</section>
	
	<section class="row">
	  <section class="col">
	    {{ "SortPublic"|trans }}: <input type="number" min="0" value="" style="width:80px" />
	  </section>
	  <section class="col">
	    {{ "SortTot"|trans }}: <input type="number" min="0" value="" style="width:80px" />
	  </section>
	</section>
      </section>
    
      <section class="col">
	{{ "MortLArbitre"|trans }} !!!
	<div>
	<span class="form-check form-check-inline">
	    <input class="form-check-input" type="checkbox" value="">
	</span>
	<span class="form-check form-check-inline">
	    <input class="form-check-input" type="checkbox" value="">
	</span>
	<span class="form-check form-check-inline">
	    <input class="form-check-input" type="checkbox" value="">
	</span>
	<span class="form-check form-check-inline">
	    <input class="form-check-input" type="checkbox" value="">
	</span>
	</div>
      </section>
    
      <section class="col-5">
	<section class="row">
	  <section class="col">
	    {{ "Agressions"|trans }}!
	  </section>
	  <section class="col">
	    T: <input type="number" min="0" value="" style="width:50px" />
	  </section>
	  <section class="col">
	    R: <input type="number" min="0" value="" style="width:50px" />
	  </section>
	  <section class="col">
	    E: <input type="number" min="0" value="" style="width:50px" />
	  </section>
	</section>
	
	<section class="row">
	  <section class="col">
	    {{ "SortPublic"|trans }}: <input type="number" min="0" value="" style="width:80px" />
	  </section>
	  <section class="col">
	    {{ "SortTot"|trans }}:  <input type="number" min="0" value="" style="width:80px" />
	  </section>
	</section>
      </section>    </section>
    

    <section class="row bg-light h5 my-2 py-2">
      <strong class="mx-auto">{{ "PlayersAction"|trans }}</strong>
    </section>

    <section class="row">
      <section class="col">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>{{ "Réu"|trans }}</th>
	      <th>{{ "TD"|trans }}</th>
	      <th>{{ "Int"|trans }}</th>
	      <th>{{ "Sor"|trans }}</th>
	      <th>{{ "JPV"|trans }}</th>
	      <th>{{ "Agr"|trans }}</th>
	      <th>{{ "Car"|trans }}</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for i in 0..9 %}
	    <tr>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </section>
      
      <section class="col">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>{{ "Réu"|trans }}</th>
	      <th>{{ "TD"|trans }}</th>
	      <th>{{ "Int"|trans }}</th>
	      <th>{{ "Sor"|trans }}</th>
	      <th>{{ "JPV"|trans }}</th>
	      <th>{{ "Agr"|trans }}</th>
	      <th>{{ "Car"|trans }}</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for i in 0..9 %}
	    <tr>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	      <td class="p-0"><input type="number" style="width: 50px;" min="0" value="" /></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </section>
    </section>


    <section class="row bg-light h5 my-2 py-2">
      <strong class="mx-auto">{{ "PlayersWounds"|trans }}</strong>
    </section>

    <section class="row">
      <section class="col">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>{{ "Wound"|trans }}</th>
	      <th>#</th>
	      <th>{{ "Wound"|trans }}</th>
	      <th>#</th>
	      <th>{{ "Wound"|trans }}</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for i in 0..3 %}
	    <tr>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="text" value="" style="width: 100px;" /></td>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="text" value="" style="width: 100px;" /></td>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="text" value="" style="width: 100px;" /></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </section>
      
      <section class="col">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>{{ "Wound"|trans }}</th>
	      <th>#</th>
	      <th>{{ "Wound"|trans }}</th>
	      <th>#</th>
	      <th>{{ "Wound"|trans }}</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for i in 0..3 %}
	    <tr>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="text" value="" style="width: 100px;" /></td>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="text" value="" style="width: 100px;" /></td>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="text" value="" style="width: 100px;" /></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </section>
    </section>

{# SEQUENCE APRES MATCH #}
    <section class="row bg-danger h4 my-2 py-2">
      <strong class="text-light mx-auto">{{ "AfterMatch"|trans }}</strong>
    </section>
    
    <section class="row">
      <section class="col-4">
	<div class="input-group">
	  <span class="input-group-addon">{{ "Gain"|trans }}</span>
	  <input type="number" min="0" class="form-control" aria-label="">
	  <span class="input-group-addon">{{ "PO"|trans }}</span>
	</div>
      </section>
      <section class="col-2">
	<div class="input-group">
	  <span class="input-group-addon">{{ "Popularity"|trans }}</span>
	  <input type="number" min="0" max="12" class="form-control" aria-label="">
	</div>
      </section>
      <section class="col-4">
	<div class="input-group">
	  <span class="input-group-addon">{{ "Gain"|trans }}</span>
	  <input type="number" min="0" class="form-control" aria-label="">
	  <span class="input-group-addon">{{ "PO"|trans }}</span>
	</div>
      </section>
      <section class="col-2">
	<div class="input-group">
	  <span class="input-group-addon">{{ "Popularity"|trans }}</span>
	  <input type="number" min="0" max="12" class="form-control" aria-label="">
	</div>
      </section>
    </section>
    
    <section class="row bg-light h5 my-2 py-2">
      <strong class="mx-auto">{{ "ExpAndProg"|trans }}</strong>
    </section>
    
    <section class="row">
    </section>

    <section class="row">
      <section class="col">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>{{ "Jet"|trans }}</th>
	      <th>{{ "Progression"|trans }}</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for i in 0..4 %}
	    <tr>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="text" value="" /></td>
	      <td class="p-0"><input type="text" value="" /></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </section>

      <section class="col">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>{{ "Jet"|trans }}</th>
	      <th>{{ "Progression"|trans }}</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for i in 0..4 %}
	    <tr>
	      <td scope="row" class="p-0"><input type="number" style="width: 50px;" min="1" max="16" value="" /></td>
	      <td class="p-0"><input type="text" value="" /></td>
	      <td class="p-0"><input type="text" value="" /></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </section>
    </section>
    
  </section>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}
