{% extends '@EasyAdmin/default/layout.html.twig' %}
 
{% block head_stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .fadded { opacity: 0.4;}
        .mblue {background-color: #cceeff;}
        .mdark {background-color: #e6e6e6;}
        .mgreen {background-color: #aaff80;}
        .mpurple {background-color: #bf80ff;}
        .myellow {background-color: #ffff4d;}
        .mred {background-color: #ff4d4d;}
        .dice {margin: 3px; padding: 8px;}
    </style>
{% endblock %}
 
{% block main %}
  {% for dice in dicelist %}
      {% for color in dice %}
        {% for j in 0..4 %}
            {% if (color == 'blue' and j+1 <= blue) or (color == 'dark' and j+1 <= dark) or
	                (color == 'green' and j+1 <= green) or (color == 'purple' and j+1 <= purple) or
	                (color == 'yellow' and j+1 <= yellow) or (color == 'red' and j+1 <= red) or
	                (color == 'force' and j+1 <= forcedie) %}
	            {% set class = "" %}
            {% else %}
	            {% set class = "fadded" %}
            {% endif %}
        
          <img src='../dice/{{ color }}.png' class='{{ class }}' onclick='addDicePool("{{ color }}", {{ j }});' id='{{ color }}_{{ j }}' />
        {% endfor %}
    {% endfor %}

    <br/>
  {% endfor %}
  
<br/>
<button type="button" class="btn btn-primary" onclick="roll()">Roll</button> <b>Nb roll: <span id="nbroll"></span></b>

<br/>
<br/>
<div id="dice"></div>
<br/>
<div id="final"></div>
{% endblock %}

{% block body_javascript %}
<script type='text/javascript'>
    var blue = 0;
    var dark = 0;
    var green = 0;
    var purple = 0;
    var yellow = 0;
    var red = 0;
    var force = 0;


    function addDicePool(color, number) {
    var x = 0;

    for (i = 0; i < 5; ++i) {
        var name = color + '_' + i;
        var elem = document.getElementById(name);
	        
	    if ((color == 'blue' && number+1 === blue) || (color == 'dark' && number+1 === dark) ||
	    (color == 'green' && number+1 === green) ||(color == 'purple' && number+1 === purple) ||
	    (color == 'yellow' && number+1 === yellow) ||(color == 'red' && number+1 === red) ||
	    (color == 'force' && number+1 === force)) {
		        elem.className += ' fadded';
	    } else {
	        x = number+1;
		    if (i <= number) {
			    elem.classList.remove('fadded');
	        } else {
		        elem.className += ' fadded';
	        }
	     }
     }
			     
     switch(color) {
         case 'blue':
         blue = x;
         break;
         
         case 'dark':
         dark = x;
         break;
         
         case 'green':
         green = x;
         break;
         
         case 'purple':
         purple = x;
         break;
         
         case 'yellow':
         yellow = x;
         break;
         
         case 'red':
         red = x;
         break;
         
         case 'force':
         force = x;
         break;
     }
    }

    function roll() {
      var elem = '';
      var token = '{{ token }}';
      
      var bl = blue,
      da = dark,
      gr = green,
      pu = purple,
      ye = yellow,
      re = red,
      fo = force;

      while(bl > 0) {
        if (elem !== '') {
            elem += '-b';
        } else {
            elem = 'b';
        }
        bl--;
      }

      while(da > 0) {
        if (elem !== '') {
            elem += '-d';
        } else {
            elem = 'd';
        }
        da--;
      }

      while(gr > 0) {
        if (elem !== '') {
            elem += '-g';
        } else {
            elem = 'g';
        }
        gr--;
      }

      while(pu > 0) {
        if (elem !== '') {
            elem += '-p';
        } else {
            elem = 'p';
        }
        pu--;
      }

      while(ye > 0) {
        if (elem !== '') {
            elem += '-y';
        } else {
            elem = 'y';
        }
        ye--;
      }

      while(re > 0) {
        if (elem !== '') {
            elem += '-r';
        } else {
            elem = 'r';
        }
        re--;
      }

      while(fo > 0) {
        if (elem !== '') {
            elem += '-f';
        } else {
            elem = 'f';
        }
        fo--;
      }

      var uri = '../api/roll/'+elem;
      var res = '';
      if (token != '') {
        uri += '/'+token;
      }
      
      $.ajax({
        type : 'GET',
        dataType : 'JSON',
        url : uri,
        success : function(data) {
            var res = '';
            
            if (typeof data['final'] !== 'undefined') {
            for (var i = 0; i < data['final'].length; ++i) {
                res += data['final'][i];
            }}
            
            if (typeof data['force'] !== 'undefined') {
            for (var i = 0; i < data['force'].length; ++i) {
                res += data['force'][i];
            }}
            
            $('#final').html(res);
            $('#nbroll').html(data['count']);
            
            $('#dice').html("");
            for (var key in data['dice']) {
            
                var span = document.createElement("span");
                    
                switch(key) {
                    case 'b':
                        span.className = 'mblue dice';
                    break;
                    case 'd':
                        span.className = 'mdark dice';
                    break;
                    case 'g':
                        span.className = 'mgreen dice';
                    break;
                    case 'p':
                        span.className = 'mpurple dice';
                    break;
                    case 'y':
                        span.className = 'myellow dice';
                    break;
                    case 'r':
                        span.className = 'mred dice';
                    break;
                }
                
                document.getElementById('dice').appendChild(span);
            
                for (i = 0; i < data['dice'][key].length; ++i) {
                    if (data['dice'][key][i]) {
                        var tab = data['dice'][key][i].split(',');
                        var im = "";
                        for (j = 0; j < tab.length; ++j) {
                            name = tab[j];
                            im = document.createElement("IMG");
                            im.src = '../faces/'+name+'.png';
                            im.title = name;
                            span.appendChild(im);
                        }
                    }
                }
            }
        },
        error : function(err) {
            alert('Oops');
            console.log(err);
        }
      });
    }
</script>
{% endblock body_javascript %}
