<html>
    <head></head>
    <body>
        {{ error }}

        <form action="{{ path('login') }}" method="POST">
            <label for="login">{{ 'authentication.username'|trans }}:</label>
            <input type="text" name="username" class="form-control" id="login" placeholder="{{ 'authentication.username'|trans }}">
            <br/>
            <label for="password">{{ 'authentication.password'|trans }}:</label>
            <input type="password" name="password" class="form-control"
                   id="password" placeholder="{{ 'authentication.password'|trans }}">
	    <br/>
            <button type="submit" name="logme">{{ 'authentication.login'|trans }}</button>
        </form>
    </body>
</html>
